* {
  box-sizing: border-box;
}
:root {
  --color: rgb(211, 127, 2);
  --color2: rgba(18, 18, 18, 0.566);
}
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
}
#container {
  background-image: url(pic/5118925c16f5a7c6c3a48373b8d26c41.jpg);
}

header {
  width: 100%;
  height: auto;
  padding: 3px;
  background-color: rgba(12, 12, 12, 0.511);
  display: flex;
  align-items: center;
  margin: 0;
  position: fixed;
  z-index: 2;
}
header a {
  text-decoration: none;
  color: white;
  transition: color 1s ease;
}
header a:hover {
  color: var(--color);
}
header a:focus {
  color: var(--color);
}
#details h1 {
  width: 70%;
  text-align: left;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#details p {
  margin-top: 1%;
  color: white;
}

#icons {
  color: white;
}
#icons i {
  color: white;
  transition: color 1s ease;
}
#icons i:hover {
  color: var(--color);
}

#details button {
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  transition: 0.7s ease;
  margin-top: 2%;
}
@media screen and (max-width: 576px) {
  #details button {
    width: 60%;
    padding: 3px;
    margin-top: 3%;
  }
  #details h1 {
    font-size: 4.7vw;
  }
  #details p {
    font-size: 3vw;
  }
  #pics {
    height: 5vh;
    margin-left: -16%;
  }
  #pics img {
    height: 5vh;
  }
}
#details div {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 8px;
}
#details button:hover {
  background-color: var(--color);
  border: 1px solid var(--color);
}
#pics {
  width: 60%;
  height: 20vh;

  margin-top: 11%;
}
#pics img {
  width: 30%;
  height: 15vh;
  border: 2px solid white;
  padding: 2px;
  opacity: 0.7;
  transition: opacity 0.7s ease;
  cursor: pointer;
}

#pics img:hover {
  opacity: 1;
}
/* *****************************************************
                      page2
*******************************************************/
#container2 {
  background-image: url(pic/bac.jpg);
  background-size: 100% 100vh;
}
#container2 h3,
#container3 h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 2px var(--color);
}
#div-page2 {
  background-color: rgba(134, 80, 46, 0.333);
  border-radius: 20px;
  border: 1px solid var(--color);
}
#burger-menu {
  background-color: var(--color2);
  border-radius: 20px;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
#burger-menu:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}
#burger-menu h4 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
}
#burger-menu p {
  color: rgba(240, 255, 255, 0.541);
}
#price {
  width: 100%;
}
#price p {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
}
#price i {
  color: white;
  background-color: var(--color);
}

/* ******************************************************
                      page3
********************************************************/
#container3 {
  background-color: black;
}
#about-sub {
  color: var(--color);
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}
em {
  color: var(--color);
}
.fa-fire,
.fa-user,
.fa-bolt {
  color: var(--color);
}
#info-page3 {
  background-color: rgba(134, 80, 46, 0.333);
  border-radius: 20px;
}
#button button {
  border: 3px solid rgba(134, 80, 46, 0.758);
  border-radius: 20px;
  color: white;
  padding: 8px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.486);
}
#button button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.486);
}
